**/output*/

**/main
**/*.txt
**/*.data
**/*.data.lz4
**/*.log
**/*.jpeg
**/*.png
**/*.mp4

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.lof
**/*.lot
**/*.out
**/*.pdf
**/*.run.xml
**/*.syntex.gz
**/*.toc